
/******** avenir font *****************/
@import url("https://fonts.cdnfonts.com/css/avenir-next-lt-pro");

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Avenir Next LT Pro", sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
